+<div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/bookform'">
     
     Add book
  </button>
</div>
<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let book of books$ | async"><!--א-סינק עושה שיהיה אסינכרוני-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>by {{book.author}}</p>
    <button mat-raised-button 
                color="primary"
                (click) = deleteBook(book.id)> 
          Delete
        </button> 
     <button mat-raised-button 
                color="primary"
                [routerLink] = "'/bookform/' + book.id"><!--מבחינת אנגולר מה שיש בתוך הגרשיים זה אקספרשן, כלומר, הדרך לחבר אותו זה באמצעות פלוס -->
          Update
        </button>         
  </mat-expansion-panel>
</mat-accordion>

  <!--the | async ==> goes to the observable opens it and takes the books list-->