<p *ngIf="!(tempData$ | async)&&!hasError">loading data...</p>
<mat-card class="example-card" *ngIf="(tempData$ | async)||hasError">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Temperature</mat-card-title>
      <mat-card-subtitle>In cities</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="!hasError" [src] = "image" alt = "weather icon">
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        <span *ngIf="!hasError">current temperature in {{city}} is {{temperature | number: '1.0-0'}}º</span>
        <span *ngIf="hasError">{{errorMessage}} please try another search</span>
      </p>
      <a routerLink="/tempform" routerLinkActive="active">Update temperature</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click) = "addLikes()" >LIKE</button><span *ngIf = "likes!=0">{{likes}}</span><!--. ספאן זה אלמנט של איצ'טיאמאל שנועד להחזיק את התכונה. הסוגריים המסולסלים הם פרופרטי ביינדינגס-->
      <!--איוונט מסמנים בסוגריים רגילים
    כך כל פעם שנעשה קליק אז תופעל הפונקציה-->
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>